body{
    background-image: url(../images/dark_wall/dark_wall.png);
    padding:10px;
}

#header{
    width: 400px;
    margin:auto;
}

#title{
    width: 400px;
    height: 250px;
}

#instructions{
    width: 600px;
    margin: auto;
    text-align: center;
    color: #eee;
    line-height: 1.5;
    font-size: 18px;
    padding: 10px;
}

#character-home{
    text-align:center;
    width: 1235px;
    margin:auto;
}

.picture{
    width:200px;
    height:300px;
    position: relative;
    float: left;
    text-align: center;
    margin: 20px;
    border-style: solid;
    border-width: 3px;
}

.name{
    width:100%;
    position: absolute;
    bottom: .5px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 3;
}

#blue{
    background-color: blue;
}

#orange{
    background-color: orange;
}

#yellow{
    background-color: yellow;
}

#green{
    background-color: green;
}

#red{
    background-color: red;
}

.clearfix::after {
	content:"";
	display: block;
	clear: both;
}

#main-game{
    width:870px;
    margin: auto;
    text-align: center;
}

.stats{
    float:left;
    border-style: solid;
    border-width: 1px;
    padding: 40px;
    margin-top: 70px;
    font-weight:bold;
    background-color: #eee;
}

#oppStats{
    float:left;
    border-style: solid;
    border-width: 1px;
    padding: 40px;
    margin-top: 70px;
    font-weight:bold;
    background-color: #eee;
}

#vs{
    float:left;
    margin-top: 180px;
    color: #eee;
}

#user-pic{
    float:left;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    background-color: #696969;
    max-height: 255px;
    max-width: 200px;
}

#opponent-pic{
    float:left;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    background-color: #696969;
    max-height: 255px;
    max-width: 200px;
}

.placeholderimage{
    opacity: 0;
}

footer{
    text-align: center;
	padding-top: 20px;
	padding-bottom:20px;
	height: 35px;
    width: 175px;
    margin: auto;
    clear: both;
}

#attackbutton{
    width:150px;
    height: 50px;
    border: solid 2px;
    text-align:center;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
}

#user-name{
    width:100%;
    text-align: center;
    line-height: 2;
}

#opp-name{
    width:100%;
    text-align: center;
    line-height: 2;
}

.who{
    text-decoration: underline;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}